#story-section {
  padding-bottom: 50px;
}
#story-title {
  color: #0288d1;
  text-align: center;
  margin-bottom: 50px;
}

.slick-slider {
  width: 100%;
}

.slider-row {
  display: flex !important;
}

#story-sliders {
  align-self: center;
  justify-content: center;
}

.story-name {
  color: #0288d1 !important;
  font-weight: bolder;
}

.story-description {
  color: black;
  background-color: white;
  padding: 20px;
  border-radius: 00px 30px 30px 0px;
  transform: scale(1);
  transition: 0.5s ease;
}

.story-description:hover {
  color: white;
  background-color: #0288d1 !important;
  overflow: hidden;
}

.story-name {
  color: #0288d1;
}

.story-description:hover .story-name {
  color: white !important;
}

.fa-star {
  color: #ff9800;
  margin-right: 8px;
}

.learn-more {
  color: white;
  text-align: right;
  transition: 0.5s ease;
}

.learn-more:hover {
  font-size: 4em;
}
