#story-section {
  padding-bottom: 50px;
}
#story-title {
  color: #0288d1;
  text-align: center;
  margin-bottom: 50px;
}

.image-slider {
  border-radius: 30px;
  width: 100%;
}

#story-sliders {
  align-self: center;
  justify-content: center;
}

.story-description > h2 {
  color: #0288d1;
}

.fa-star {
  color: #ff9800;
  margin-right: 8px;
}
