#about-section {
  background-color: #0288d1;
  padding-top: 50px;
  padding-bottom: 50px;
}

#about-title {
  text-align: center;
  color: white;
}

.about-item-logo {
  width: 35%;
  display: block;
  margin: 0 auto;
}

.about-item-container {
  padding: 50px;
}

.about-item-description {
  margin-top: 20px;
  text-align: center;
}
