#landing-section {
  margin-bottom: 100px;
}

#landing-motto-section {
  align-self: center;
  padding-left: 100px;
}

#landing-image {
  width: 100%;
}

.btn-theme {
  background-color: #0288d1;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-theme:hover {
  background-color: white;
  border-color: #0288d1;
  color: #0288d1;
}

@media only screen and (max-width: 768px) {
  #landing-motto-section {
    order: 1;
    text-align: center;
  }
  #landing-motto-section > h1 {
    font-size: 1.5rem;
  }
}
